.card {
    background-color: #efefef;
}

.btn-fill {
    color: #FFFFFF;
    background-color: #d2720a;
    opacity: 1;
    filter: alpha(opacity=100);
    border: none;
}
.btn-info {
    border-color: none;
}